<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.powerup.appshed.powerup" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </activity>

        <activity
            android:name=".DirectionActivity"/>


        <activity
            android:name=".MatchElectronicActivity"/>
        <activity
            android:name=".StartDiagnosticsActivity"/>

        <activity
            android:name=".TakeAPictureBefore"/>
        <activity
            android:name=".Question1Activity"/>

        <activity
            android:name=".Question2Activity"/>

        <activity
            android:name=".Solution1Activity"/>

        <activity
            android:name=".Solution2Activity"/>

        <activity
            android:name=".VideoAssistsActivity"/>

        <activity
            android:name=".TakeAPictureAfter"/>

        <activity
            android:name=".CompleteActivity"/>

    </application>

</manifest>
